<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>luizpvas.github.io</title>
    <link rel="stylesheet" href="index.css" />
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7TMTHS88G9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7TMTHS88G9');
    </script>
  </head>
  <body class="bg-slate-100 dark:bg-slate-800 dark:text-white">
    <main class="max-w-screen-md mx-auto my-4 space-y-4">
      <h1 class="text-3xl text-center tracking-tight">All posts</h1>

      <div class="flex justify-center items-center">
        <a href="https://github.com/luizpvas/" target="_blank" class="font-bold border dark:border-slate-900 rounded-full px-2 bg-white dark:bg-slate-700 hover:border-blue-500">
          Github
        </a>
      </div>

      <div class="grid gap-2 mx-2 lg:mx-0">
        <% posts.each do |post| %>
          <a href="/<%= post.id %>.html" class="block border-2 dark:border-slate-900 bg-white dark:bg-slate-700 rounded p-4 hover:border-blue-500">
            <div class="font-bold text-lg"><%= post.metadata.title %></div>

            <p class="hidden"><%= post.metadata.summary %></p>

            <div class="mt-1 text-sm text-slate-500 dark:text-slate-400">Published on <%= post.metadata.publication_date %></div>
          </a>
        <% end %>
      </div>

      <div class="space-y-4">
        <div class="mt-8 flex items-center space-x-4">
          <div class="h-[2px] bg-gray-200 dark:bg-slate-700 flex-1"></div>
          <h2 class="font-bold uppercase text-center">Dev journal</h2>
          <div class="h-[2px] bg-gray-200 dark:bg-slate-700 flex-1"></div>
        </div>

        <div class="grid gap-2 mx-2 lg:mx-0">
          <% journal.each do |journal_post| %>
            <a href="/<%= journal_post.id %>.html" class="block border-2 dark:border-slate-900 bg-white dark:bg-slate-700 rounded p-4 hover:border-blue-500">
              <div class="font-bold text-lg"><%= journal_post.metadata.title %></div>

              <p><%= journal_post.metadata.summary %></p>

              <div class="mt-1 text-sm text-slate-500 dark:text-slate-400">Published on <%= journal_post.metadata.publication_date %></div>
            </a>
          <% end %>
        </div>
      </div>
    </main>
  </body>
</html>
